.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-image: url("/bg2.jpg");
  background-size: cover;
  background-position: center;
}
.bg-button {
  margin: 1rem;
}
