.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-image: url("/bg2.jpg");
  background-size: cover;
  background-position: center;
}
.bg-button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #be22eeb7;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  transition: background-color 0.3s ease;
}
.bg-button:hover {
  background-color: #be22ee;
}

.crt {
  position: relative;
  overflow: hidden;
}

.crt::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
}
